.booking-body {
  height: 1000px;
  width: min(90%, 1200px);

}

.booking-child {
  padding: 1rem;
  display: flex;
  gap: 2rem;
}

.booking-child button {
  border-radius: 25px;
  color: #3d3d3d;
}

.status-buttons button {
  margin-right: 15px;
  padding: 10px;
  width: 120px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.highlighted {

  background-color: #02a4d1 !important;
  color: rgb(237, 237, 237) !important;
}

.booking-list {
  margin-top: 20px;
}

.booking-item {
  border: 1px solid #b8b8b8;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #fff;
}

#booking-date {
  font-size: 14px;
  color: #3d3d3d;
}

.BookingInformation {
  width: min(90%, 1200px);
  margin: 0 auto;
}

.booking-detail-info {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 0 2rem 0;
  border-bottom: 1px solid rgb(208, 208, 208);
}

.booking-detail-info svg {
  display: inline-block;
}

#included-info-heading3 {
  font-weight: 300;
}

#included-info-heading4 {
  font-size: 22px;
  font-weight: 700;
  color: #1f5261;
}

.included-info1 {
  padding: 4rem 0;
  border: none !important;
}

.booking-title1 {}

.arrow-back {
  margin-top: 2rem;
  cursor: pointer;
}

.booking-container {
  width: min(90%, 1100px);
  margin: 0 auto;
}