
#motorcycleForm {
  width: min(90%, 1440px);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 20px; /* Space between columns */
}


#add-title-1 {
  font-size: 32px;
}

#add-title-2 {
  color: #616161;
}

h1 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"],
select { /* Add select to input styles */
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addVehicle {
  padding: 18px;
  width: 230px;
  border-radius: 2px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: #02a4d1;
}

.addVehicle:hover {
  background-color: #0088ae;
}
.actions{
  display: flex;
  gap: .5rem;
  flex-direction: column;
}
.decline-button{
  background-color: rgb(201, 82, 82);
}
.booking-item{
  padding: 10px 20px;
}