.nav a {
    color: #2f343c;
    display: flex;
    font-size: 14.8px;
    gap: 0.875rem;
    align-items: center;

    margin: .7rem 0.3rem;
}

.nav li {
    list-style: none;
    padding-left: 1rem;
}

.dashboard-body {
    width: 250px;
    height: auto;


}

.logout-btn {
    position: absolute;
    bottom: 25px;
    left: 5px;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 14.8px;
}

.nav {
    height: 100%;
    position: fixed;
    width: 250px;
}