
.nav a {
    color: #2f343c;
    display: flex;
    font-size: 14.8px;
    gap: 0.875rem;
    align-items: center;

    margin: .7rem 0.3rem;
}

.nav li {
    list-style: none;
    padding-left: 1rem;
}

.dashboard-body {
    width: 250px;
}