.add-form-container {
  width: min(90%, 1200px);
  margin: 0 auto;
  height: 850px;
}

#motorcycleForm {
  width: min(90%, 1200px);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  display: grid;
  /* Use grid layout */
  grid-template-columns: repeat(2, 1fr);
  /* Two equal columns */
  gap: 20px;
  /* Space between columns */
}

.add-title {
  text-align: center;
  padding: 2rem 0;
}

#add-title-1 {
  font-size: 32px;
}

#add-title-2 {
  color: #616161;
}

h1 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"],
select {
  /* Add select to input styles */
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addVehicle {
  padding: 18px;
  width: 230px;
  border-radius: 2px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: #02a4d1;
}

.addVehicle:hover {
  background-color: #0088ae;
}

#inventory1{
  font-size: 2rem;
  font-weight: 700;
  color: #232323;
  gap: .5rem;
}