.view-container {
    width: min(90%, 1440px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 65% 35%;
    height: 2000px;
}

.vehicle-detail {
    justify-self: center;
}

.vehicle-detail-text {
    display: flex;
    padding: 1.5rem 1rem 1.5rem 0;
    gap: 3rem;
    font-size: 15px;
    border-bottom: 1px solid rgb(208, 208, 208);
}

.vehicle-detail-text p {
    display: flex;
    gap: .5rem;
}

.booking-information {
    background-color: white;
    height: 600px;
    position: sticky;
    top: 10%;
    width: 80%;
    margin-top: 3rem;
    padding: 30px;
    color: #868e96;
    font-size: 12.8px;
    border: 1px solid rgb(208, 208, 208);
}

.included-info {
    padding: 2rem 0;
}

#included-info-heading1 {
    font-size: 22px;
    font-weight: 700;
    color: #212529;
}

#included-info-heading2 {
    color: rgb(53, 120, 139);
    font-weight: 700;
    letter-spacing: 2px;
}

.included {
    padding: 2.5rem 0;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 4rem;
    row-gap: 2rem;
    border-bottom: 1px solid rgb(208, 208, 208);
}

.included-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.policies svg {
    background-color: rgba(102, 189, 214, 0.334);
    border-radius: 50%;
    padding: .3rem;
    color: rgba(0, 163, 208, 0.987);
}

.policies {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

#policy-bold {
    color: #212529;
}

#productName {
    font-size: 36px;
    font-weight: 700;
    color: #212529;
}

#type {
    color: rgb(46, 46, 46);
}

/* booking card */

.card {
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

#totalprice {
    font-size: 24px;
    color: #212529;
    margin: 10px 0 20px 0;
}

#totalprice span {
    font-size: 12.9px;
    color: #333333;
    font-weight: 500;
}

.rental-dates,
.how-are-you-riding {
    margin: 20px 0;
}

#rentalphp {
    font-weight: 500;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

input[type="text"],
input[type="time"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="time"] {
    width: 100%;
    display: inline-block;
}

.pickup-dropoff {
    display: grid;
    grid-template-columns: 50% 50%;
}

.pickup-dropoff-content1 {
    margin-right: .8rem;
}

.pickup-dropoff-content2 {
    margin-left: .8rem;
}

.checkout-button {
    background-color: #3498db;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 12.8px;
}

.checkout-button:hover {
    background-color: #2980b9;
}

.best-price {
    margin: 15px 0;
}

.features {
    text-align: left;
    font-size: 14px;
    color: #27ae60;
    margin: 10px 0;
}

.fucker {
    height: 500px;
}

.rental-dates {
    display: flex;
}
